// Colors
$color-background: #181818;
$color-primary: #030303;
$color-white: #fff;
$color-black: #000;
$color-gray: #424242;
$color-hover: #dcdcdc;
$color-highlight: #d0d0d0;

// Fonts
$font-family: 'Cormorant Garamond', serif;
$font-weight: 600;
$font-size-heading: 5.3em;
$font-size-logo: 2.6em;
$font-size-logo-nav: 1.7em;
$font-size-alt: 4em;
